<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="atwix_mass_duplicate" frontName="atwix_mass_duplicate">
            <module name="Atwix_MassDuplicate" before="Magento_Backend"/>
        </route>
    </router>
</config>
